<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rent App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @if (this.User.Identity.IsAuthenticated)
        {
            <div id="rent-nav">
                @Html.ActionLink("Send a Request", "Send", "Request", null, new { @class = "btn btn-default" })
                @Html.ActionLink("View Requests", "Index", "Request", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Send a Payment", "Send", "Payment", null, new { @class = "btn btn-default" })
                @Html.ActionLink("View Payments", "Index", "Payment", null, new { @class = "btn btn-default" })
            </div>
        }
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
