@using Rent.Net.Entities;
@using Microsoft.AspNet.Identity;

@using (RentDbContext dbContext = new RentDbContext())
{
    string userId = this.User.Identity.GetUserId();
    ApplicationUser user = dbContext.Users.Find(userId);
    <div id="rent-request-incoming" class="rent-request-container">
        <span class="rent-request-header">Requests To Me:</span>
        @foreach (Request request in user.RequestsTo.ToList())
        {
            <div class="rent-request">
                To: @(request.Payer == null ? "Failed to get the shit again" : request.Payer.UserName)
                <br />
                Amount: @request.Amount
                <br />
                Notes: @request.Notes
                <br />
                @Html.ActionLink("Pay", "Send", "Payment", new { requestId = request.RequestId }, new { @class = "btn" })
            </div>
        }
    </div>
    <div id="rent-request-outgoing" class="rent-request-container">
        <span class="rent-request-header">My Requests:</span>
        @foreach (Request request in user.RequestsFrom.ToList())
        {
            <div class="rent-request">
                To: @(request.Payee == null ? "Failed to get the shit again" : request.Payee.UserName)
                <br />
                Amount: @request.Amount
                <br />
                Notes: @request.Notes
                <br />
                <button class="btn">Cancel</button>
            </div>
        }
    </div>
}